
body {

    background: rgb(160, 71, 157);
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.content {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: bold 38px Arial;
    color: #f6f6fa; 

}

#relogio {

    color: #f6f6fa;
    font: bold 36px Arial;
   
    

}